@import '/src/styles.scss';

.header{  
      @extend %theme-white-bg;
      box-shadow: 0px 1px 10px black;
      position: fixed;
      width: 100%;
      z-index: 999;

      & .mat-tab-label-active{
            @extend %theme1-subtitle;
      }

      & .mat-tab-link, .mat-ink-bar{
            width: 50%;
      }

      &__buttonsContainer{
            gap: 1.2rem;
            position: absolute;
            top: 5.5rem;
            right: 2rem;
      }

      &__button{            

            &.theme1{                  
                  @extend %theme1-bg-bg;
                  @extend %theme1-title;
            }

            &.theme2{                  
                  @extend %theme2-bg-bg;
                  @extend %theme2-title;
            }
      }

      &__text{
            @extend %subtitle;
            @extend %theme1-subtitle;
            display: none;  
      }

}

@include mq-min(desktop){
      .header{  

            & .mat-tab-link, .mat-ink-bar{
            width: auto;
            }

            &__text{
                  display: block;
            }

            &__buttonsContainer{
                  top: .5rem;
            }
      }
}  


