
<div 
class="cardExtraInfo"
[ngClass]="
{
      theme1: this.theme === 'theme1',
      theme2: this.theme === 'theme2'
}
"
>
      <div class="cardExtraInfo__container d-flex fd-column ai-center">
                  <app-text 
                  class="cardExtraInfo__title"
                  [text]="this.text"  
                  heading="title"                
                  ></app-text>         
                  <app-image
                  [src]="this.image?.src"
                  [alt]="this.image?.alt"            
                  class="cardExtraInfo__image"
                  ></app-image>                
                  
      </div>   
</div>