<div 
class="textAtom"
[ngClass]="
      {
            theme1: this.theme === 'theme1',
            theme2: this.theme === 'theme2',
            isWhite: this.isWhite
      }
"
>
      <!-- Headings H1 -->
      <ng-container *ngIf="this.heading==='title'">
            <h1>{{this.text}}</h1>
      </ng-container>

      <!-- Headings H3 -->
      <ng-container *ngIf="this.heading==='subtitle'">
            <h3>{{this.text}}</h3>
      </ng-container>

      <!-- text p -->
      <ng-container *ngIf="this.heading==='text'">
            <p>{{this.text}}</p>
      </ng-container>
</div>
