
$colors: (
      borders: (
            blue: #8700FF,
            green: #00FFBC
      ),     
      theme1:(
            bg: #fdfdfd,
            title: #2d235a,
            subtitle: #3c3c55,
            text:#57576b,
            icon: #8278aa,  
            shadow: #00000059,         
      ),
      theme2:(
            bg: #640cb6,             
            title: #ffffff,
            subtitle: #ffffff,
            text:#ffffff,
            icon: #ffffff, 
            shadow: #17c8bbad, 
      )
)