@import '/src/styles.scss';

.landingOne{

      &__cardsContainer{
            gap: 2.6rem;
            flex-wrap: wrap;
      }

      &__title{            
            display: block;
            margin-bottom: 8rem;
            margin-top: 10.5rem;
            text-align: center;
      }

      // themes
      &.theme1 {@extend %theme1-bg-bg;}
      &.theme2 {@extend %theme2-bg-bg;}
}