
// Fonts
$font-primary: 'Fira Sans', sans-serif;
// Fonts - weights
$weights: (
      regular: 400,
      medium: 600,
      bold: 700,
      black: 900
);
// Breakpoints
$breakpoints: (
      desktop: 960px, 
      tablet: 600px
);
